@font-face {
    font-family: "Jost-Black";
    src: url("../fonts/Jost-Black.ttf") format("truetype");
    font-style: normal; 
    font-weight: 900; 
}

@font-face {
    font-family: "Jost-BlackItalic";
    src: url("../fonts/Jost-BlackItalic.ttf") format("truetype");
    font-style: italic; 
    font-weight: 900; 
}

@font-face {
    font-family: "Jost-Bold";
    src: url("../fonts/Jost-Bold.ttf") format("truetype");
    font-style: normal; 
    font-weight: 700; 
}

@font-face {
    font-family: "Jost-BoldItalic";
    src: url("../fonts/Jost-BoldItalic.ttf") format("truetype");
    font-style: italic; 
    font-weight: 700; 
}

@font-face {
    font-family: "Jost-ExtraBold";
    src: url("../fonts/Jost-ExtraBold.ttf") format("truetype");
    font-style: normal; 
    font-weight: 800; 
}

@font-face {
    font-family: "Jost-ExtraBoldItalic";
    src: url("../fonts/Jost-ExtraBoldItalic.ttf") format("truetype");
    font-style: italic; 
    font-weight: 800; 
}

@font-face {
    font-family: "Jost-ExtraLight";
    src: url("../fonts/Jost-ExtraLight.ttf") format("truetype");
    font-style: normal; 
    font-weight: 200; 
}

@font-face {
    font-family: "Jost-ExtraLightItalic";
    src: url("../fonts/Jost-ExtraLightItalic.ttf") format("truetype");
    font-style: italic; 
    font-weight: 200; 
}

@font-face {
    font-family: "Jost-RegularItalic";
    src: url("../fonts/Jost-Italic.ttf") format("truetype");
    font-style: italic; 
    font-weight: 400; 
}

@font-face {
    font-family: "Jost-Light";
    src: url("../fonts/Jost-Light.ttf") format("truetype");
    font-style: normal; 
    font-weight: 300; 
}

@font-face {
    font-family: "Jost-LightItalic";
    src: url("../fonts/Jost-LightItalic.ttf") format("truetype");
    font-style: italic; 
    font-weight: 300; 
}

@font-face {
    font-family: "Jost-Medium";
    src: url("../fonts/Jost-Medium.ttf") format("truetype");
    font-style: normal; 
    font-weight: 500; 
}

@font-face {
    font-family: "Jost-MediumItalic";
    src: url("../fonts/Jost-MediumItalic.ttf") format("truetype");
    font-style: italic; 
    font-weight: 500; 
}

@font-face {
    font-family: "Jost-Regular";
    src: url("../fonts/Jost-Regular.ttf") format("truetype");
    font-style: normal; 
    font-weight: 400; 
}

@font-face {
    font-family: "Jost-SemiBold";
    src: url("../fonts/Jost-SemiBold.ttf") format("truetype");
    font-style: normal; 
    font-weight: 600; 
}

@font-face {
    font-family: "Jost-SemiBoldItalic";
    src: url("../fonts/Jost-SemiBoldItalic.ttf") format("truetype");
    font-style: italic; 
    font-weight: 600; 
}

@font-face {
    font-family: "Jost-Thin";
    src: url("../fonts/Jost-Thin.ttf") format("truetype");
    font-style: normal; 
    font-weight: 100; 
}

@font-face {
    font-family: "Jost-ThinItalic";
    src: url("../fonts/Jost-ThinItalic.ttf") format("truetype");
    font-style: italic; 
    font-weight: 100; 
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* header start */

.header__part1 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.header__part1__container {
    width: 100%;
    max-width: 1570px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__part1__container__phone {
    text-align: center;
}

.header__part1__container__phone a {
    font-size: 21px;
    font-family: "Jost-Bold";
    color: rgb( 65, 65, 65 );
}

.header__part1__container__call a {
    font-size: 16px;
    font-family: "Jost-Bold";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    background-color: rgb( 255, 216, 0 );
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
}

.header__part1__container__mail {
    display: flex;
    align-items: center;
}

.header__part1__container__mail img {
    width: 22px;
    height: 15px;
}

.header__part1__container__mail a {
    margin-left: 15px;
    font-size: 19px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65 );
    border-bottom: 1px dotted #000;
}

.header__part1__container__links {
    width: 100%;
    max-width: 254px;
    display: flex;
    justify-content: space-between;
}

.header__part2 {
    width: 100%;
    background-color: #000;
    position: relative;
}

.header__part2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../img/lineOfMenu.png") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 6px;
    z-index: 1;
}

.header__part2__container {
    width: 100%;
    max-width: 1570px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.header__part2__container__burger {
    display: none;
}

.header__part2__container > ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__part2__container > ul > li {
    padding-top: 13px;
    padding-bottom: 23px;
    position: relative;
    cursor: pointer;
}

.header__part2__container > ul > .active {
    border-top: 4px solid rgb( 255, 216, 0 );
} 

.header__part2__container > ul > li > a {
    font-size: 21px;
    font-family: "Jost-Regular";
    color: rgb( 255, 255, 255 );
    position: relative;
}

.header__part2__container > ul > li > a > span {
    background: url("../img/arrowForMenu.png") center no-repeat;
    background-size: cover;
    position: absolute;
    right: -15px;
    top: 50%;
    width: 9px;
    height: 5px;
}

/* .header__part2__container > ul > li:nth-of-type(1) > a::after {
    content: "";
    background: url("../img/arrowForMenu.png") center no-repeat;
    background-size: cover;
    position: absolute;
    right: -15px;
    top: 50%;
    width: 9px;
    height: 5px;
}

.header__part2__container > ul > li:nth-of-type(2) > a::after {
    content: "";
    background: url("../img/arrowForMenu.png") center no-repeat;
    background-size: cover;
    position: absolute;
    right: -15px;
    top: 50%;
    width: 9px;
    height: 5px;
}

.header__part2__container > ul > li:nth-of-type(3) > a::after {
    content: "";
    background: url("../img/arrowForMenu.png") center no-repeat;
    background-size: cover;
    position: absolute;
    right: -15px;
    top: 50%;
    width: 9px;
    height: 5px;
}

.header__part2__container > ul > li:nth-of-type(4) > a::after {
    content: "";
    background: url("../img/arrowForMenu.png") center no-repeat;
    background-size: cover;
    position: absolute;
    right: -15px;
    top: 50%;
    width: 9px;
    height: 5px;
} */

.header__part2__container > ul > li > button {
    background: none;
    border: none;
    cursor: pointer;
}

.header__part2__container > ul > li:last-of-type {
    height: 20px;
    margin-top: 4px;
    position: relative;
}

.header__part2__container__block {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    width: 340px;
    background-color: rgb( 255, 255, 255 );
    box-shadow: inset 0px 0px 116px -80px rgb(59 59 59);
    padding-top: 15px;
    padding-bottom: 7px;
    box-sizing: border-box;
    z-index: 1000;
    display: none;
}

.header__part2__container > ul > li:hover .header__part2__container__block {
    display: block;
}

.header__part2__container__block:hover {
    display: block;
}

.header__part2__container__block > ul > li > a {
    font-size: 18px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65 );
    line-height: 1;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
    cursor: pointer;
    position: relative;
    display: block;
}

.header__part2__container__block > ul > li > a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-top: 2px solid #ffd800;
    border-right: 2px solid #ffd800;
    transform: rotate(45deg) translateY(-50%);
}

.header__part2__container__block > ul > li > a:hover {
    background-color: #dfdfdf;
}

.header__part2__container__block > ul > li > a:hover::after {
    border-top: 2px solid #6a6a6a;
    border-right: 2px solid #6a6a6a;
}

.header__part2__container__block > ul > li > a:hover + div {
    display: block;
}

.header__part2__container__block > ul > li > div {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    min-width: 215px;
    height: 100%;
    background-color: rgb( 255, 255, 255 );
    box-shadow: 3px 3px 24px -12px rgb(59 59 59);
    display: none;
}

.header__part2__container__block > ul > li > div:hover {
    display: block;
}

.header__part2__container__block > ul > li > div > ul > li > a {
    font-size: 18px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65 );
    line-height: 1;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    position: relative;
    display: block;
}

.header__part2__container__block > ul > li > div > ul > li > a:hover {
    background-color: #dfdfdf;
} 

.header__part2__container__search {
    display: none;
    position: absolute;
    right: 0;
    top: -7px;
    width: 541px;
}

.header__part2__container__search_js {
    display: block;
}

.header__part2__container__search input {
    font-family: "Jost-Regular";
    font-size: 16px;
    color: rgba( 255, 255, 255, 0.478 );
    background-color: rgb( 52, 52, 52 );
    width: 100%;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
}

.header__part2__container__search input:focus {
    outline: none;
}

.header__part2__container__search button {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

/* .header__part2__container ul li button  */

/* header stop */

/* scrollHeader start */

.scrollHeader {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000;
    z-index: 100000;
    display: none;
}

.scrollHeader::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../img/lineOfMenu.png") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 6px;
    z-index: 1;
}

.scrollHeader_js {
    display: block;
}

.scrollHeader__container {
    width: 100%;
    max-width: 1570px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.scrollHeader__container__logo {
    height: 54px;
}

.scrollHeader__container__logo a img {
    width: 190px;
    height: 100%;
}

.scrollHeader__container__links {
    width: 100%;
    max-width: 1025px;
}

.scrollHeader__container__links__burger {
    display: none;
}

.scrollHeader__container__links > ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.scrollHeader__container__links > ul > li {
    padding-top: 7px;
    padding-bottom: 19px;
    position: relative;
    cursor: pointer;
    border-top: 4px solid rgb( 0, 0, 0 );
}

.scrollHeader__container__links > ul > .active {
    border-top: 4px solid rgb( 255, 216, 0 );
} 

.scrollHeader__container__links > ul > li > a {
    font-size: 21px;
    font-family: "Jost-Regular";
    color: rgb( 255, 255, 255 );
    position: relative;
}

.scrollHeader__container__links > ul > li > a > span {
    background: url("../img/arrowForMenu.png") center no-repeat;
    background-size: cover;
    position: absolute;
    right: -15px;
    top: 50%;
    width: 9px;
    height: 5px;
}

.scrollHeader__container__links__block {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    width: 340px;
    background-color: rgb( 255, 255, 255 );
    box-shadow: inset 0px 0px 116px -80px rgb(59 59 59);
    padding-top: 15px;
    padding-bottom: 7px;
    box-sizing: border-box;
    z-index: 1000;
    display: none;
}

.scrollHeader__container__links > ul > li:hover .scrollHeader__container__links__block {
    display: block;
}

.scrollHeader__container__links__block:hover {
    display: block;
}

.scrollHeader__container__links__block > ul > li > a {
    font-size: 18px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65 );
    line-height: 1;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
    cursor: pointer;
    position: relative;
    display: block;
}

.scrollHeader__container__links__block > ul > li > a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-top: 2px solid #ffd800;
    border-right: 2px solid #ffd800;
    transform: rotate(45deg) translateY(-50%);
}

.scrollHeader__container__links__block > ul > li > a:hover {
    background-color: #dfdfdf;
}

.scrollHeader__container__links__block > ul > li > a:hover::after {
    border-top: 2px solid #6a6a6a;
    border-right: 2px solid #6a6a6a;
}

.scrollHeader__container__links__block > ul > li > a:hover + div {
    display: block;
}

.scrollHeader__container__links__block > ul > li > div {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    min-width: 215px;
    height: 100%;
    background-color: rgb( 255, 255, 255 );
    box-shadow: 3px 3px 24px -12px rgb(59 59 59);
    display: none;
}

.scrollHeader__container__links__block > ul > li > div:hover {
    display: block;
}

.scrollHeader__container__links__block > ul > li > div > ul > li > a {
    font-size: 18px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65 );
    line-height: 1;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    position: relative;
    display: block;
}

.scrollHeader__container__links__block > ul > li > div > ul > li > a:hover {
    background-color: #dfdfdf;
} 

.scrollHeader__container__call a {
    font-size: 16px;
    font-family: "Jost-Bold";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    background-color: rgb( 255, 216, 0 );
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
}

/* scrollHeader stop */

/* firstSlider start */

.firstSlider {
    margin-bottom: 130px;
}

.firstSlider__container {
    width: 100%;
    overflow: hidden;
}

.firstSlider__container__content {
    height: 725px;
    margin-bottom: 70px;
}

.firstSlider__container__content__block {
    height: 100%;
    background: url("../img/backgroundForCisterns.png") center no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 115px;
    box-sizing: border-box;
}

/* .firstSlider__container__content__block::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url("../img/backgroundForCisterns2.png") center no-repeat;
    background-size: cover;
    width: 1408px;
    height: 573px;
    z-index: 1;
} */

.firstSlider__container__content__block__container {
    width: 100%;
    max-width: 1570px;
    margin: 0 auto;
    position: relative;
}

.firstSlider__container__content__block__container__background2 {
    position: absolute;
    right: -166px;
    top: -39px;
    /* background: url("../img/backgroundForCisterns2.png") center no-repeat; */
    /* background-size: cover; */
    width: 1408px;
    height: 573px;
    z-index: 1;
}

.firstSlider__container__content__block__container__block {
    width: 100%;
    max-width: 925px;
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 55px;
    padding-left: 68px;
    padding-right: 68px;
    box-sizing: border-box;
}

.firstSlider__container__content__block__container__block h6 {
    font-size: 46px;
    font-family: "Jost-Bold";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    margin-bottom: 20px;
}

.firstSlider__container__content__block__container__block p {
    font-size: 19px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65 );
    line-height: 1.579;
    margin-bottom: 40px;
} 

.firstSlider__container__content__block__container__block a {
    font-size: 16px;
    font-family: "Jost-Bold";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    background-color: rgb( 255, 216, 0 );
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 36px;
    padding-right: 68px;
    position: relative;
    display: inline-block;
}

.firstSlider__container__content__block__container__block a::after {
    content: url("../img//orderArrow.png");
    position: absolute;
    right: 33px;
    top: 53%;
    transform: translateY(-50%);
}

.firstSlider__container__leaf {
    width: 100%;
    max-width: 305px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firstSlider__container__leaf__btn {
    cursor: pointer;
}

.firstSlider__container__leaf__pagination {
    text-align: center;
    font-size: 24px;
    font-family: "Jost-Regular";
    color: rgb( 155, 155, 155 );
}

/* firstSlider stop */

/* catalog start */

.catalog {
    margin-bottom: 125px;
}

.catalog__container {
    width: 100%;
    max-width: 1890px;
    margin: 0 auto;
}

.catalog__container__headline {
    margin-bottom: 65px;
    text-align: center;
}

.catalog__container__headline h6 {
    font-size: 50px;
    font-family: "Jost-Regular";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    font-weight: 400;
}

.catalog__container__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 55px;
}
  
.catalog__container__content__block {
    height: 410px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.catalog__container__content__block a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 425px;
    height: 75px;
    display: flex;
    box-sizing: border-box;
}

.catalog__container__content__block a div:first-of-type {
    width: 355px;
    height: 100%;
    background-color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.catalog__container__content__block a div h6 {
    font-size: 24px;
    font-family: "Jost-Bold";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
} 

.catalog__container__content__block a div:last-of-type {
    width: 70px;
    height: 100%;
    background-color: #ffd800;
    position: relative;
}

.catalog__container__content__block a div:last-of-type::after {
    content: url("../img/arrowOfCatalog.png");
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.catalog__container__content__block a:hover {
    border: 3px solid rgb( 255, 216, 0 );
}

.catalog__container__content__block a:hover div:first-of-type h6 {
    text-decoration: underline;
    text-decoration-color: rgb( 255, 216, 0 );
} 

.catalog__container__content__block a:hover div:last-of-type {
    background-color: #000;
}

.catalog__container__content__block a:hover div:last-of-type::after {
    content: url("../img/arrowOfCatalogWhite.png");
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* catalog stop */

/* order start */

.order {
    padding-top: 75px;
    padding-bottom: 75px;
    background: url("../img/backgroundForOrder.png") center no-repeat;
    background-size: cover;
    margin-bottom: 240px;
}

.order__container {
    width: 100%;
    max-width: 1635px;
    margin: 0 auto;
    position: relative;
}

.order__container::after {
    content: url("../img/backgroundForOrder2.png");
    position: absolute;
    right: -87px;
    top: 135px;
    z-index: 1;
}

.order__container__block {
    width: 100%;
    max-width: 890px;
    padding-left: 120px;
    /* padding-top: 90px;
    padding-bottom: 105px; */
    padding-top: 100px;
    padding-bottom: 95px;
    box-sizing: border-box;
    background: url("../img/backgroundForFormOfOrder.png") center no-repeat;
    background-size: cover;
}

.order__container__block__container {
    width: 100%;
    max-width: 515px;
    text-align: center;
}

.order__container__block__container h6 {
    font-size: 50px;
    font-family: "Jost-Light";
    color: rgb( 255, 255, 255 );
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 30px;
}

.order__container__block__container p:first-of-type {
    font-size: 19px;
    font-family: "Jost-Regular";
    color: rgb( 255, 255, 255 );
    line-height: 1;
    margin-bottom: 45px;
}

.order__container__block__container form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 25px;
    margin-bottom: 30px;
}

.order__container__block__container form input {
    font-size: 16px;
    font-family: "Jost-Regular";
    color: rgba( 0, 0, 0, 0.839 );
    text-transform: uppercase;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

.order__container__block__container form input[type="submit"] {
    background-color: #ffd800;
    cursor: pointer;
    font-size: 16px;
    font-family: "Jost-Bold";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
}

.order__container__block__container form input:focus {
    outline: none;
}

.order__container__block__container p:last-of-type {
    font-size: 16px;
    font-family: "Jost-Regular";
    color: rgb( 255, 255, 255, 0.51 );
} 

.order__container__block__container p:last-of-type a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    padding-bottom: 1px;
    color: rgb( 255, 255, 255, 0.51 );
}

/* order stop */

/* info start */

.info {
    margin-bottom: 178px;
}

.info__container {
    width: 100%;
    max-width: 1777px;
    position: relative;
}

.info__container__content {
    display: flex;
    align-items: center;
}

.info__container__content__image {
    margin-right: 60px;
}

.info__container__content__text h6 {
    font-size: 50px;
    font-family: "Jost-Regular";
    font-weight: 400;
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    line-height: 1.4;
    margin-bottom: 40px;
}

.info__container__content__text p {
    font-size: 19px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65 );
    line-height: 1.579;
}

.info__container__border {
    width: 1444px;
    height: 600px;
    position: absolute;
    right: 0;
    top: -70px;
    box-sizing: border-box;
    border: 6px solid rgb( 255, 216, 0 );
}

/* info stop */

/* footer start */

.footer {
    background-color: #000;
    position: relative;
    padding-bottom: 15px;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/lineOfMenu.png") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 6px;
}

.footer__container {
    width: 100%;
    max-width: 1570px;
    margin: 0 auto;
}

.footer__container__part1 {
    padding-top: 25px;
    border-bottom: 2px solid #383838;
}

.footer__container__part1 ul {
    width: 99.11%;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
    position: relative;
}

.footer__container__part1 ul li {
    padding-bottom: 5px;
}

.footer__container__part1 ul li a {
    font-size: 21px;
    font-family: "Jost-Regular";
    color: rgb( 255, 255, 255 );
    padding-bottom: 5px;
}

.footer__container__part1 ul li .active {
    border-bottom: 2px solid rgb( 255, 216, 0 );
}

.footer__container__part2 {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.footer__container__part2__phone {
    text-align: center;
}

.footer__container__part2__phone a {
    font-size: 21px;
    font-family: "Jost-Bold";
    color: rgb( 255, 255, 255 );
} 

.footer__container__part2__call a {
    font-size: 16px;
    font-family: "Jost-Bold";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    background-color: rgb( 255, 216, 0 );
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
}

.footer__container__part2__mail {
    display: flex;
    align-items: center;
}

.footer__container__part2__mail img {
    width: 22px;
    height: 15px;
}

.footer__container__part2__mail a {
    margin-left: 15px;
    font-size: 19px;
    font-family: "Jost-Regular";
    color: rgb( 255, 255, 255 );
    border-bottom: 1px dotted #fff;
}

.footer__container__part2__links {
    width: 100%;
    max-width: 254px;
    display: flex;
    justify-content: space-between;
}

.footer__container__part3 p {
    font-size: 15px;
    font-family: "Jost-Regular";
    color: rgb( 255, 255, 255 );
    line-height: 1.2;
    opacity: 0.4;
}

.footer__container__part3 p a {
    text-decoration: underline;
    color: rgb( 255, 255, 255 );
}

/* footer stop */

/* scrollUp start */

.scrollUp {
    position: fixed;
    right: 35px;
    bottom: 35px;
    border-radius: 50%;
    background-color: rgb( 255, 216, 0 );
    width: 48px;
    height: 48px;
    z-index: 10000;
    display: none;
}

.scrollUp img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scrollUp_js {
    display: block;
}

/* scrollUp stop */

/* form start */

.form {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000000;
    display: none;
}

.form_js {
    display: block;
}

.form__background {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.form__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb( 255, 255, 255 );
    width: 744px;
    height: 433px;
    padding-top: 60px;
    box-sizing: border-box;
    overflow: hidden;
}

.form__container::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    background: url("../img/lineOfMenu.png") center no-repeat;
    width: 100%;
    height: 17px;
}

.form__container__content {
    width: 515px;
    margin: 0 auto;
    text-align: center;
}

.form__container__content button {
    position: absolute;
    right: 23px;
    top: 20px;
    cursor: pointer;
    background: none;
    border: none;
}

.form__container__content h6 {
    font-size: 50px;
    font-family: "Jost-Regular";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 4px;
    margin-bottom: 15px;
}
  
.form__container__content p {
    font-size: 19px;
    font-family: "Jost-Regular";
    color: rgb( 0, 0, 0 );
    line-height: 1;
    opacity: 0.831;
    margin-bottom: 45px;
}

.form__container__content form {
    margin-bottom: 30px;
}

.form__container__content form div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    margin-bottom: 25px;
}

.form__container__content form input {
    font-size: 16px;
    font-family: "Jost-Regular";
    color: rgb( 0, 0, 0, 0.839 );
    text-transform: uppercase;
    background-color: rgb( 239, 239, 239 );
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    border: none;
}

.form__container__content form input:focus {
    outline: none;
}

.form__container__content form input[type="submit"] {
    cursor: pointer;
    background-color: #ffd800;
    font-family: "Jost-Bold";
    font-weight: bold;
    padding-left: 35px;
    padding-right: 35px;
}  

.form__container__content p:last-of-type {
    font-size: 16px;
    font-family: "Jost-Regular";
    color: rgb( 0, 0, 0, 0.51 );
}  

.form__container__content p:last-of-type a {
    color: rgb( 0, 0, 0, 0.51 );
    text-decoration: underline;
}
  
/* form stop */

/* breadcrumb start */

.breadcrumb {
    padding-top: 22px;
    padding-bottom: 22px;
}

.breadcrumb__container {
    width: 100%;
    max-width: 1570px;
    margin: 0 auto;
}

.breadcrumb__container ul {
    display: flex;
}

.breadcrumb__container ul li {
    padding-right: 20px;
    position: relative;
}

.breadcrumb__container ul li::after {
    content: "|";
    position: absolute;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
}

.breadcrumb__container ul li:last-of-type {
    padding-right: 0;
}

.breadcrumb__container ul li:last-of-type::after {
    content: "";
}

.breadcrumb__container ul li a {
    font-size: 16px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65 );
    border-bottom: 1px solid rgb( 255, 216, 0 );
} 

.breadcrumb__container ul li:last-of-type a {
    border-bottom: none;
    color: rgb( 65, 65, 65, 0.5 );
}  

/* breadcrumb stop */

/* banner start */

.banner {
    height: 725px;
    background: url("../img/backgroundForTrawls.png") center no-repeat;
    background-size: cover;
    padding-top: 80px;
    box-sizing: border-box;
    margin-bottom: 105px;
}

.banner__container {
    width: 100%;
    max-width: 1570px;
    margin: 0 auto;
    position: relative;
}

.banner__container__block {
    width: 100%;
    max-width: 925px;
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 55px;
    padding-left: 68px;
    padding-right: 68px;
    box-sizing: border-box;
}

.banner__container__block__background2 {
    position: absolute;
    right: -54px;
    top: -39px;
    /* background: url("../img/backgroundForTrawls2.png") center no-repeat; */
    background-size: cover;
    width: 1288px;
    height: 702px;
    z-index: 1;
}

.banner__container__block h6 {
    font-size: 46px;
    font-family: "Jost-Bold";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    margin-bottom: 20px;
}

.banner__container__block p {
    font-size: 19px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65 );
    line-height: 1.579;
    margin-bottom: 40px;
} 

.banner__container__block a {
    font-size: 16px;
    font-family: "Jost-Bold";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    background-color: rgb( 255, 216, 0 );
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 36px;
    padding-right: 68px;
    position: relative;
    display: inline-block;
}

.banner__container__block a::after {
    content: url("../img/orderArrow.png");
    position: absolute;
    right: 33px;
    top: 53%;
    transform: translateY(-50%);
}

/* banner stop */

/* catalogForCatalog start */

.catalogForCatalog {
    padding-bottom: 105px;
}

.catalogForCatalog__container {
    width: 100%;
    max-width: 1570px;
    margin: 0 auto;
}

.catalogForCatalog__container__headline {
    text-align: center;
    margin-bottom: 80px;
}

.catalogForCatalog__container__headline h6 {
    font-size: 50px;
    font-family: "Jost-Regular";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1;
}

.catalogForCatalog__container__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 170px;
    grid-row-gap: 60px;
    margin-bottom: 70px;
}

/* .catalogForCatalog__container__content__block {

} */

.catalogForCatalog__container__content__block img {
    width: 100%;
    display: block;
}

.catalogForCatalog__container__content__block__container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 75px;
    padding-right: 75px;
    box-sizing: border-box;
    background-color: rgb( 243, 243, 243 );
}

.catalogForCatalog__container__content__block__container h6 {
    font-size: 28px;
    font-family: "Jost-Bold";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 35px;
}

.catalogForCatalog__container__content__block__container__characteristics {
    margin-bottom: 35px;
}

.catalogForCatalog__container__content__block__container__characteristics__block {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dotted rgb( 0, 0, 0, 0.302 );
    margin-bottom: 15px;
} 

.catalogForCatalog__container__content__block__container__characteristics__block:last-of-type {
    margin-bottom: 0;
}

.catalogForCatalog__container__content__block__container__characteristics__block p {
    font-size: 18px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65, 0.702 );
    background-color: rgb( 243, 243, 243 );
    margin-bottom: -9px;
} 

.catalogForCatalog__container__content__block__container__links a {
    font-size: 16px;
    font-family: "Jost-Bold";
    color: rgb( 0, 0, 0 );
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    border: 2px solid rgb( 255, 216, 0 );
    display: inline-block;
    box-sizing: border-box;
} 

.catalogForCatalog__container__content__block__container__links a:first-of-type {
    background-color: #ffd800;
    padding-right: 55px;
    position: relative;
    margin-right: 22px;
}

.catalogForCatalog__container__content__block__container__links a:first-of-type::after {
    content: url("../img/orderArrow.png");
    position: absolute;
    right: 20px;
    top: 54%;
    transform: translateY(-50%);
}

.catalogForCatalog__container__pagination {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalogForCatalog__container__pagination__btnLeft button {
    background: none;
    border: none;
    cursor: pointer;
}

.catalogForCatalog__container__pagination__numbers ul {
    display: flex;
    justify-content: space-between;
}

.catalogForCatalog__container__pagination__numbers ul li {
    position: relative;
    padding-right: 26px;
}

.catalogForCatalog__container__pagination__numbers ul li:last-of-type {
    padding-right: 0;
}

.catalogForCatalog__container__pagination__numbers ul li:last-of-type::after {
    content: "";
}

.catalogForCatalog__container__pagination__numbers ul li::after {
    content: "/";
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-family: "Jost-Regular";
}

.catalogForCatalog__container__pagination__numbers ul li a {
    font-size: 24px;
    font-family: "Jost-Regular";
    color: #000;
}

.catalogForCatalog__container__pagination__numbers ul .active a {
    color: rgb( 155, 155, 155 );
}

.catalogForCatalog__container__pagination__btnRight button {
    background: none;
    border: none;
    cursor: pointer;
}

/* catalogForCatalog stop */

/* order_catalog start */

.order_catalog {
    background: url("../img/backgroundForOrderOfCatalog.png") center no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 0;
}

.order_catalog .order__container::after {
    content: url("../img/backgroundForOrderOfCatalog2.png");
    top: 19px;
}

/* order_catalog stop */

/* productInfo start */

.productInfo {
    margin-bottom: 95px;
}

.productInfo__container {
    width: 100%;
    max-width: 1570px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.productInfo__container__slider {
    width: 100%;
    max-width: 770px;
    overflow: hidden;
}

.productInfo__container__slider__top {
    margin-bottom: 25px;
}

.productInfo__container__slider__top__container__block {
    position: relative;
}

.productInfo__container__slider__top__container__block::after {
    content: url("../img/magnifier.png");
    position: absolute;
    left: 0;
    bottom: 0;
}

.productInfo__container__slider__top__container__block img {
    width: 100%;
    height: 500px;
}

.productInfo__container__slider__thumbs__container {
    margin-bottom: 40px;
}

.productInfo__container__slider__thumbs__container__block {
    width: 130px;
    cursor: pointer;
}

.productInfo__container__slider__thumbs__container__block img {
    width: 100%;
    height: 85px;
    display: block;
}

.productInfo__container__slider__thumbs__container .swiper-slide-thumb-active {
    border: 2px solid rgb( 255, 216, 0 );
    position: relative;
}

.productInfo__container__slider__thumbs__container .swiper-slide-thumb-active::after {
    content: "";
    background: url("../img/shadowForActiveSlide.png") no-repeat center;
    background-size: cover;
    width: 128px;
    height: 8px;
    position: absolute;
    bottom: -11px;
    left: 0;
}

.productInfo__container__slider__thumbs__navigation {
    width: 100%;
    max-width: 305px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productInfo__container__slider__thumbs__navigation__btnLeft {
    cursor: pointer;
}

.productInfo__container__slider__thumbs__navigation__pagination {
    text-align: center;
    font-size: 24px;
    font-family: "Jost-Regular";
    color: rgb( 155, 155, 155 );
}

.productInfo__container__slider__thumbs__navigation__btnRight {
    cursor: pointer;
}

.productInfo__container__characteristics {
    width: 100%;
    max-width: 770px;
}

.productInfo__container__characteristics__headline {
    margin-bottom: 50px;
}

.productInfo__container__characteristics__headline h6 {
    font-size: 38px;
    font-family: "Jost-Medium";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
}

.productInfo__container__characteristics__description {
    margin-bottom: 40px;
}

.productInfo__container__characteristics__description h6 {
    font-size: 22px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65 );
    text-transform: uppercase;
    margin-bottom: 15px;
}

.productInfo__container__characteristics__description p {
    font-size: 19px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65 );
    line-height: 1.579;
}

.productInfo__container__characteristics__characteristics__block {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dotted rgb( 0, 0, 0, 0.302 );
    margin-bottom: 15px;
}

.productInfo__container__characteristics__characteristics {
    margin-bottom: 45px;
}

.productInfo__container__characteristics__characteristics h6 {
    font-size: 22px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65 );
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 15px;
} 

.productInfo__container__characteristics__characteristics p {
    font-size: 18px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65 );
    line-height: 1;
    opacity: 0.702;
    background-color: #fff;
    margin-bottom: -5px;
}

.productInfo__container__characteristics__characteristics p:last-of-type {
    opacity: 1;
}
  
.productInfo__container__characteristics__price {
    position: relative;
    margin-bottom: 50px;
    background-color: rgb( 243, 243, 243 );
    height: 53px;
}
  
.productInfo__container__characteristics__price__container {
    width: 100%;
    max-width: 406px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.productInfo__container__characteristics__price__container .oldPrice {
    font-size: 20px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65, 0.671 );
    position: relative;
}

.productInfo__container__characteristics__price__container .oldPrice::before {
    content: "";
    position: absolute;
    left: -7%;
    top: 50%;
    transform: translateY(-50%) rotate(-6deg);
    background-color: rgb( 255, 0, 0 );
    width: 109%;
    height: 1px;
}
  
.productInfo__container__characteristics__price__container .newPrice {
    font-size: 31px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65 );
    line-height: 0.968;
    margin-left: 25px;
}
  
.productInfo__container__characteristics__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
}
  
.productInfo__container__characteristics__links a {
    font-size: 16px;
    font-family: "Jost-Bold";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    display: inline-block;
    padding-top: 11px;
    padding-bottom: 11px;
    text-align: center;
    border: 2px solid rgb( 255, 216, 0 );
} 

.productInfo__container__characteristics__links a:first-of-type {
    text-align: left;
    padding-left: 120px;
    background-color: #ffd800;
    position: relative;
}

.productInfo__container__characteristics__links a:first-of-type::after {
    content: url("../img/orderArrow.png");
    position: absolute;
    left: 58%;
    top: 54%;
    transform: translateY(-50%);
} 

/* productInfo stop */

/* equipment start */

.equipment {
    margin-bottom: 105px;
}

.equipment__container {
    width: 100%;
    max-width: 1570px;
    margin: 0 auto;
}

.equipment__container__headline {
    margin-bottom: 30px;
}

.equipment__container__headline h6 {
    font-size: 38px;
    font-family: "Jost-Regular";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    font-weight: 400;
}

.equipment__container__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.equipment__container__info__img {
    margin-top: 10px;
}

.equipment__container__info__img img {
    width: 610px;
    height: 374px;
}

.equipment__container__info__text p {
    font-size: 19px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65 );
    line-height: 1.579;
} 

.equipment__container__characteristics table {
    width: 100%;
    border-spacing: 0;
}

.equipment__container__characteristics table thead tr th {
    font-size: 19px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65 );
    text-transform: uppercase;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.equipment__container__characteristics table thead tr th:first-of-type {
    background-color: #ebebeb;
}

.equipment__container__characteristics table thead tr th:last-of-type {
    background-color: #efefef;
}
  
.equipment__container__characteristics table thead tr td {
    font-size: 19px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65 );
    text-align: center;
    border-bottom: 1px solid rgb( 235, 235, 235 );
    padding-top: 11px;
    padding-bottom: 11px;
}  

.equipment__container__characteristics table thead tr td:last-of-type {
    background-color: #f9f9f9;
}

/* equipment stop */

/* seeAlso start */

.seeAlso {
    margin-bottom: 105px;
}

.seeAlso__container {
    width: 100%;
    max-width: 1570px;
    margin: 0 auto;
}

.seeAlso__container__slider {
    overflow: hidden;
}

.seeAlso__container__slider__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.seeAlso__container__slider__header__headline h6 {
    font-size: 38px;
    font-family: "Jost-Regular";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    /* font-weight: 400; */
    letter-spacing: 3px;
} 

.seeAlso__container__slider__header__navigation {
    width: 305px;
    display: flex;
    justify-content: space-between;
}

.seeAlso__container__slider__header__navigation__pagination {
    text-align: center;
    font-size: 24px;
    font-family: "Jost-Regular";
    color: rgb( 155, 155, 155 );
}

.seeAlso__container__slider__body__block img {
    width: 100%;
    display: block;
}

.seeAlso__container__slider__body__block__container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 75px;
    padding-right: 75px;
    box-sizing: border-box;
    background-color: rgb( 243, 243, 243 );
}

.seeAlso__container__slider__body__block__container h6 {
    font-size: 28px;
    font-family: "Jost-Bold";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 35px;
}

.seeAlso__container__slider__body__block__container__characteristics {
    margin-bottom: 35px;
}

.seeAlso__container__slider__body__block__container__characteristics__block {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dotted rgb( 0, 0, 0, 0.302 );
    margin-bottom: 15px;
} 

.seeAlso__container__slider__body__block__container__characteristics__block:last-of-type {
    margin-bottom: 0;
}

.seeAlso__container__slider__body__block__container__characteristics__block p {
    font-size: 18px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65, 0.702 );
    background-color: rgb( 243, 243, 243 );
    margin-bottom: -9px;
} 

.seeAlso__container__slider__body__block__container__links a {
    font-size: 16px;
    font-family: "Jost-Bold";
    color: rgb( 0, 0, 0 );
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    border: 2px solid rgb( 255, 216, 0 );
    display: inline-block;
    box-sizing: border-box;
} 

.seeAlso__container__slider__body__block__container__links a:first-of-type {
    background-color: #ffd800;
    padding-right: 55px;
    position: relative;
    margin-right: 22px;
}

.seeAlso__container__slider__body__block__container__links a:first-of-type::after {
    content: url("../img/orderArrow.png");
    position: absolute;
    right: 20px;
    top: 54%;
    transform: translateY(-50%);
}

/* seeAlso stop */

/* aboutCompany start */

.aboutCompany {
    padding-top: 20px;
    padding-bottom: 80px;
}

.aboutCompany__container {
    width: 100%;
    max-width: 1570px;
    margin: 0 auto;
}

.aboutCompany__container__headline {
    margin-bottom: 65px;
}

.aboutCompany__container__headline h6 {
    font-size: 46px;
    font-family: "Jost-Bold";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    line-height: 1;
}

.aboutCompany__container__content {

}

.aboutCompany__container__content > p {
    font-size: 19px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65 );
    line-height: 1.579;
    margin-bottom: 65px;
} 

.aboutCompany__container__content > p a {
    color: rgb( 52, 133, 225 );
    border-bottom: 1px solid rgb( 52, 133, 225 );
}

.aboutCompany__container__content__featuresOfWork {
    margin-bottom: 70px;
}
 
.aboutCompany__container__content__featuresOfWork__headline {
    margin-bottom: 35px;
}

.aboutCompany__container__content__featuresOfWork__headline h6 {
    font-size: 40px;
    font-family: "Jost-Bold";
    color: rgb( 0, 0, 0 );
    line-height: 1;
}
 
.aboutCompany__container__content__featuresOfWork__content__part1 {
    display: flex;
}

.aboutCompany__container__content__featuresOfWork__content__part1 img {
    width: 610px;
    height: 365px;
}

.aboutCompany__container__content__featuresOfWork__content__part1 p {
    font-size: 19px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65 );
    line-height: 1.579;
    margin-left: 30px;
}

.aboutCompany__container__content__featuresOfWork__content__part2 p {
    font-size: 19px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65 );
    line-height: 1.579;
}

.typesOfEquipment {
    margin-bottom: 65px;
}

.typesOfEquipment__headline {
    margin-bottom: 30px;
}

.typesOfEquipment__headline h6 {
    font-size: 32px;
    font-family: "Jost-Bold";
    color: rgb( 0, 0, 0 );
    line-height: 1;
}

.typesOfEquipment__content ul li {
    font-size: 19px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65 );
    line-height: 2.421;
}

.typesOfEquipment__content ul li span {
    width: 19px;
    height: 2px;
    background-color: rgb( 255, 216, 0 );
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 8px;
} 

.equipmentAvailable {
    margin-bottom: 55px;
}

.equipmentAvailable__headline {
    margin-bottom: 30px;
}

.equipmentAvailable__headline h6 {
    font-size: 32px;
    font-family: "Jost-Bold";
    color: rgb( 0, 0, 0 );
    line-height: 1;
}

.equipmentAvailable__content ul li {
    font-size: 19px;
    font-family: "Jost-Regular";
    color: rgb( 65, 65, 65 );
    line-height: 2.421;
}

.equipmentAvailable__content ul li span {
    font-size: 19px;
    font-family: "Jost-Regular";
    color: rgb( 255, 216, 0 );
    margin-right: 20px;
}

.quote {
    
}

.quote__content {
    display: flex;
    align-items: center;
    background-color: rgb( 243, 243, 243 );
    width: 100%;
    max-width: 1410px;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
}

.quote__content img {
    width: 62px;
    height: 62px;
}

.quote__content p {
    font-size: 19px;
    font-family: "Jost-Medium";
    color: rgb( 65, 65, 65 );
    font-style: italic;
    line-height: 1.421;
    margin-left: 45px;
} 

/* aboutCompany stop */

/* gallary start */

.gallary {
    margin-bottom: 140px;
}

.gallary__container {

}

.gallary__container__pictures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    margin-bottom: 80px;
}

.gallary__container__pictures a {
    display: inline-block;
    width: 100%;
    height: 243px;
    position: relative;
}

.gallary__container__pictures a img {
    width: 100%;
    height: 100%;
}

.gallary__container__pictures a .cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #000;
    opacity: 0.5;
}

.gallary__container__pictures a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/zoomForGallaryOfContent.png") no-repeat center;
    background-size: cover;
    width: 70px;
    height: 70px;
    display: none;
    z-index: 2;
}

.gallary__container__pictures a:hover .cover {
    display: block;
}

.gallary__container__pictures a:hover::before {
    display: block;
}

.gallary__container__navigation {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallary__container__navigation__btnLeft button {
    background: none;
    border: none;
    cursor: pointer;
}

.gallary__container__navigation__numbers ul {
    display: flex;
    justify-content: space-between;
}

.gallary__container__navigation__numbers ul li {
    position: relative;
    padding-right: 26px;
}

.gallary__container__navigation__numbers ul li::after {
    content: "/";
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-family: "Jost-Regular";
}

.gallary__container__navigation__numbers ul li:last-of-type {
    padding-right: 0;
}

.gallary__container__navigation__numbers ul li:last-of-type::after {
    content: "";
}

.gallary__container__navigation__numbers ul li a {
    font-size: 24px;
    font-family: "Jost-Regular";
    color: #000;
}

.gallary__container__navigation__numbers ul .active a {
    color: rgb( 155, 155, 155 );
}

.gallary__container__navigation__btnRight button {
    background: none;
    border: none;
    cursor: pointer;
}

/* gallary stop */

/* contact start */

.contact__container {
    display: flex;
    position: relative;
}

.contact__conteiner__part1 {
    width: 36%;
    padding-top: 549px;
    /* background-color: rgb( 208, 208, 208 ); rgb( 248, 248, 248 ) */
    background-color: rgb( 248, 248, 248 );
}

.contact__conteiner__part1 .breadcrumb {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

/* .contact__conteiner__part1__container {

}

.contact__conteiner__part1__container__headline {

}

.contact__conteiner__part1__container__headline h6 {

} */

.contact__conteiner__part2 {
    width: 64%;
    padding-top: 549px;
}

.contact__conteiner__part3 {
    width: 100%;
    max-width: 1570px;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.contact__conteiner__part3__part1 {

}

.contact__conteiner__part3__part1__headline {
    margin-bottom: 85px;
}

.contact__conteiner__part3__part1__headline h6 {
    font-size: 46px;
    font-family: "Jost-Bold";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    line-height: 1;
}

.contact__conteiner__part3__part1__contact {
    margin-bottom: 40px;
}
    
.contact__conteiner__part3__part1__contact ul {
    
}

.contact__conteiner__part3__part1__contact ul li {
    line-height: 1;
    position: relative;
    margin-bottom: 35px;
}

.contact__conteiner__part3__part1__contact ul li:last-of-type {
    margin-bottom: 0;
}

.contact__conteiner__part3__part1__contact ul li img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.contact__conteiner__part3__part1__contact ul li span {
    font-size: 21px;
    font-family: "Jost-ExtraLight";
    color: rgb( 65, 65, 65 );
    margin-left: 30px;
}

.contact__conteiner__part3__part1__contact ul li:first-of-type span {
    font-family: "Jost-Regular";
}

.contact__conteiner__part3__part1__socialNetworks {
    width: 100%;
    max-width: 254px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}

.contact__conteiner__part3__part2 {
    width: 100%;
    max-width: 930px;
}

.contact__conteiner__part3__part2__headline {
    text-align: center;
    margin-bottom: 20px;
}

.contact__conteiner__part3__part2__headline h6 {
    font-size: 46px;
    font-family: "Jost-Bold";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 20px;
}

.contact__conteiner__part3__part2__headline p {
    font-size: 19px;
    font-family: "Jost-Regular";
    color: rgb( 0, 0, 0 );
    opacity: 0.678;
    line-height: 1;
}

.contact__conteiner__part3__part2__container {

}

.contact__conteiner__part3__part2__container__form__container {
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-bottom: 20px;
}

.contact__conteiner__part3__part2__container__form__container__smallInput {

}

.contact__conteiner__part3__part2__container__form__container__smallInput div {
    position: relative;
    margin-bottom: 15px;
}

.contact__conteiner__part3__part2__container__form__container__smallInput div:last-of-type {
    margin-bottom: 0;
}

.contact__conteiner__part3__part2__container__form__container__smallInput div input {
    background-color: rgb( 239, 239, 239, 0.51 );
    width: 243px;
    border: none;
    font-size: 16px;
    font-family: "Jost-Medium";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.contact__conteiner__part3__part2__container__form__container__smallInput div input:focus {
    outline: none;
}

.contact__conteiner__part3__part2__container__form__container__smallInput div label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 16px;
    font-family: "Jost-Medium";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
}

.contact__conteiner__part3__part2__container__form__container__smallInput div .hideLabelJs {
    display: none;
}

.contact__conteiner__part3__part2__container__form__container__smallInput div label span {
    color: #ffd800;
}

.contact__conteiner__part3__part2__container__form__container__textarea {
    width: 100%;
    max-width: 657px;
}

.contact__conteiner__part3__part2__container__form__container__textarea div {
    position: relative;
    height: 100%;
}

.contact__conteiner__part3__part2__container__form__container__textarea div textarea {
    width: 100%;
    height: 100%;
    background-color: rgb( 239, 239, 239, 0.51 );
    border: none;
    font-size: 16px;
    font-family: "Jost-Medium";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    padding-top: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 13px;
    box-sizing: border-box;
}

.contact__conteiner__part3__part2__container__form__container__textarea div textarea:focus {
    outline: none;
}

.contact__conteiner__part3__part2__container__form__container__textarea div label {
    position: absolute;
    top: 13px;
    left: 20px;
    font-size: 16px;
    font-family: "Jost-Medium";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
}

.contact__conteiner__part3__part2__container__form__container__textarea div .hideLabelJs {
    display: none;
}

.contact__conteiner__part3__part2__container__form__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact__conteiner__part3__part2__container__form__footer p {
    font-size: 16px;
    font-family: "Jost-Regular";
    color: rgb( 0, 0, 0, 0.51 );
    line-height: 1;
}

.contact__conteiner__part3__part2__container__form__footer p a {
    color: rgb( 0, 0, 0, 0.51 );
    border-bottom: 1px solid rgb( 0, 0, 0, 0.51 );
}

.contact__conteiner__part3__part2__container__form__footer input {
    font-size: 16px;
    font-family: "Jost-Bold";
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    border: none;
    background-color: rgb( 255, 216, 0 );
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 18px;
    padding-bottom: 18px;
    letter-spacing: 1.3px;
    cursor: pointer;
} 

/* contact stop */

/* map start */

.map {
    width: 100%;
    height: 550px;
}

/* map stop */

/* mobile start */

@media screen and (max-width: 1808px) {
    .order__container::after {
        content: "";
        background: url("../img/backgroundForOrder2.png") center no-repeat;
        background-size: cover;
        width: 838px;
        height: 444px;
        right: 73px;
    }

    .order_catalog .order__container::after {
        content: "";
        background: url("../img/backgroundForOrderOfCatalog2.png") center no-repeat;
        background-size: cover;
        width: 838px;
        height: 444px;
        top: 135px;
        right: 73px;
    }
}

@media screen and (max-width: 1750px) {
    .gallary__container__pictures a {
        height: 215px;
    }
}

@media screen and (max-width: 1680px) {
    .banner {
        overflow: hidden;
    }

    .banner__container__block__background2 {
        width: 1030px;
        height: 561px;
        right: 30px;
        top: 43px;
    }
}

@media screen and (max-width: 1649px) {
    .order {
        margin-bottom: 120px;
    }

    .order_catalog {
        margin-bottom: 0;
    }

    .info {
        margin-bottom: 120px;
    }

    .info__container__border {
        display: none;
    }
}

@media screen and (max-width: 1620px) {
    .firstSlider__container__content {
        height: 625px;
    }

    .firstSlider__container__content__block__container__background2 {
        width: 1126px;
        height: 458px;
        right: -80px;
    }
}

@media screen and (max-width: 1615px) {
    .gallary__container__pictures a {
        height: 200px;
    }
}

@media screen and (max-width: 1590px) {
    .productInfo__container__slider {
        max-width: 693px;
    }

    .productInfo__container__slider__top__container__block img {
        height: 450px;
    }

    .productInfo__container__slider__thumbs__container .swiper-slide-thumb-active::after {
        width: 115px;
    }

    .productInfo__container__characteristics {
        max-width: 693px;
    }

    .productInfo__container__characteristics__links a:first-of-type {
        padding-left: 100px;
    }
}

@media screen and (max-width: 1560px) {
    .equipment__container__info {
        flex-direction: column;
        text-align: center;
    }

    .equipment__container__info__text p br {
        display: none;
    }
}

@media screen and (max-width: 1550px) {
    .order__container::after {
        right: 0;
    }
}

@media screen and (max-width: 1500px) {
    .header__part2__container__search {
        width: 425px;
    }

    .order__container::after {
        width: 670px;
        height: 355px;
    }

    .order_catalog .order__container::after {
        width: 670px;
        height: 355px;
    }

    .contact__conteiner__part3__part2 {
        max-width: 820px;
    }

    .contact__conteiner__part3__part2__container__form__container__textarea {
        max-width: 557px;
    }
}

@media screen and (max-width: 1475px) {
    .gallary__container__pictures a {
        height: 190px;
    }
}

@media screen and (max-width: 1460px) {
    .banner {
        height: 670px;
    }

    .banner__container__block {
        max-width: 725px;
    }

    .banner__container__block__background2 {
        width: 824px;
        height: 448px;
        right: 150px;
        top: 110px;
    }
}

@media screen and (max-width: 1455px) {
    .scrollHeader__container__links {
        max-width: 825px;
    }

    .firstSlider__container__content__block__container__background2 {
        width: 900px;
        height: 366px;
        top: 50px;
    }

    .firstSlider__container__content__block__container__block {
        max-width: 740px;
    }
}

@media screen and (max-width: 1430px) {
    .info__container__content__text br {
        display: none;
    }

    .info__container__content__text h6 {
        font-size: 40px;
    }

    .aboutCompany__container__content__featuresOfWork__content__part1 p br {
        display: none;
    }
}

@media screen and (max-width: 1400px) {
    .productInfo__container__slider {
        max-width: 623px;
    }

    .productInfo__container__slider__top__container__block img {
        height: 405px;
    }

    .productInfo__container__slider__thumbs__container .swiper-slide-thumb-active::after {
        width: 130px;
    }

    .productInfo__container__characteristics {
        max-width: 623px;
    }

    .productInfo__container__characteristics__links a:first-of-type {
        padding-left: 80px;
    }
}

@media screen and (max-width: 1370px) {
    .catalogForCatalog__container__content {
        grid-column-gap: 60px;
    }
}

@media screen and (max-width: 1360px) {
    .catalog__container__content {
        grid-template-columns: repeat(2, 1fr);
    }

    .order {
        padding-bottom: 310px;
    }

    .order__container__block {
        max-width: 760px;
        margin: 0 auto;
    }

    .order__container::after {
        width: 603px;
        height: 319px;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        top: 450px;
    }

    .order_catalog .order__container::after {
        width: 603px;
        height: 319px;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        top: 450px;
    }

    .gallary__container__pictures a {
        height: 170px;
    }
}

@media screen and (max-width: 1350px) {
    .aboutCompany__container__content > p br {
        display: none;
    }
}

@media screen and (max-width: 1340px) {
    .banner {
        height: 560px;
    }

    .banner__container__block {
        padding-top: 20px;
        padding-bottom: 27px;
        padding-left: 34px;
        padding-right: 34px;
        max-width: 625px;
    }

    .banner__container__block h6 {
        margin-bottom: 10px;
    }

    .banner__container__block p {
        margin-bottom: 20px;
    }

    .banner__container__block__background2 {
        width: 659px;
        height: 358px;
        top: 85px;
    }
}

@media screen and (max-width: 1330px) {
    .info__container__content__image img {
        width: 628px;
        height: 370px;
    }
}

@media screen and (max-width: 1305px) {
    .contact__conteiner__part3__part2 {
        max-width: 720px;
    }

    .contact__conteiner__part3__part2__container__form__container__textarea {
        max-width: 457px;
    }
}

@media screen and (max-width: 1300px) {
    .aboutCompany__container__content__featuresOfWork__content__part1 img {
        width: 549px;
        height: 328px;
    }

    .aboutCompany__container__content__featuresOfWork__content__part1 p {
        font-size: 16px;
    }

    .aboutCompany__container__content__featuresOfWork__content__part2 p {
        font-size: 16px;
    }
}

@media screen and (max-width: 1270px) {
    .scrollHeader__container__links {
        max-width: 750px;
    }

    .scrollHeader__container__links > ul > li > a {
        font-size: 19px;
    }

    .info__container__content__text h6 {
        font-size: 35px;
    }
}

@media screen and (max-width: 1260px) {
    .quote__content p br {
        display: none;
    }
}

@media screen and (max-width: 1250px) {
    .productInfo__container__slider {
        max-width: 560px;
    }

    .productInfo__container__slider__top__container__block img {
        height: 364px;
    }

    .productInfo__container__slider__thumbs__container .swiper-slide-thumb-active::after {
        width: 118px;
    }

    .productInfo__container__characteristics {
        max-width: 560px;
    }

    .productInfo__container__characteristics__headline {
        margin-bottom: 20px;
    }

    .productInfo__container__characteristics__headline h6 {
        font-size: 30px;
    }

    .productInfo__container__characteristics__description {
        margin-bottom: 15px;
    }

    .productInfo__container__characteristics__description h6 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .productInfo__container__characteristics__description p {
        font-size: 16px;
        line-height: 1.379;
    }

    .productInfo__container__characteristics__characteristics {
        margin-bottom: 17px;
    }

    .productInfo__container__characteristics__characteristics h6 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .productInfo__container__characteristics__characteristics p {
        font-size: 16px;
    }

    .productInfo__container__characteristics__price {
        margin-bottom: 25px;
    }

    .productInfo__container__characteristics__links a:first-of-type {
        padding-left: 60px;
    }
}

@media screen and (max-width: 1229px) {
    .catalogForCatalog__container__content__block__container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 1220px) {
    .seeAlso__container__slider__body__block__container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 1215px) {
    .firstSlider__container__content__block__container__background2 {
        width: 720px;
        height: 292px;
        right: -30px;
    }

    .firstSlider__container__content__block__container__block {
        max-width: 622px;
    }

    .info__container__content__image img {
        width: 628px;
        height: 370px;
    }

    .info__container__content__text h6 {
        font-size: 32px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .banner__container__block__background2 {
        right: 0;
    }

    .gallary__container__pictures {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1180px) {
    .header__part1__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 10px
    }

    .scrollHeader__container__links {
        max-width: 650px;
        margin-bottom: 7px;
    }

    .scrollHeader__container__links > ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .scrollHeader__container__links > ul > li {
        padding-top: 2px;
        padding-bottom: 0;
    }

    .scrollHeader__container__links > ul > li > a {
        line-height: 1;
    }

    .footer__container__part2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 10px
    }
}

@media screen and (max-width: 1160px) {
    .contact__conteiner__part3__part2 {
        max-width: 620px;
    }

    .contact__conteiner__part3__part2__container__form__container__textarea {
        max-width: 357px;
    }

    .contact__conteiner__part3__part2__container__form__footer {
        flex-direction: column;
        text-align: center;
    }

    .contact__conteiner__part3__part2__container__form__footer p {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 1140px) {
    .aboutCompany__container__content__featuresOfWork__content__part2 p br {
        display: none;
    }
}

@media screen and (max-width: 1130px) {
    .productInfo__container__slider {
        max-width: 504px;
    }

    .productInfo__container__slider__top__container__block img {
        height: 327px;
    }

    .productInfo__container__slider__thumbs__container .swiper-slide-thumb-active::after {
        width: 145px;
    }

    .productInfo__container__characteristics {
        max-width: 504px;
    }

    .productInfo__container__characteristics__links a:first-of-type {
        padding-left: 50px;
    }

    .productInfo__container__characteristics__links a:first-of-type::after {
        left: 60%;
    }
}

@media screen and (max-width: 1129px) {
    .catalogForCatalog__container__content__block__container__links a:first-of-type {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1120px) {
    .firstSlider {
        margin-bottom: 70px;
    }

    .firstSlider__container__content {
        height: 425px;
    }

    .firstSlider__container__content__block {
        padding-top: 60px;
    }

    .firstSlider__container__content__block__container__background2 {
        width: 576px;
        height: 233px;
    }

    .firstSlider__container__content__block__container__block {
        max-width: 550px;
        padding-top: 20px;
        padding-bottom: 27px;
        padding-left: 34px;
        padding-right: 34px;
    }

    .firstSlider__container__content__block__container__block h6 {
        margin-bottom: 0px;
    }

    .firstSlider__container__content__block__container__block p {
        margin-bottom: 20px;
    }

    .seeAlso__container__slider__body__block__container {
        padding: 20px;
    }

    .gallary__container__pictures a {
        height: 160px;
    }
}

@media screen and (max-width: 1100px) {
    .info__container__content__text h6 {
        font-size: 28px;
    }

    .info__container__content__text p {
        font-size: 16px;
        line-height: 1.379;
    }
}

@media screen and (max-width: 1080px) {
    .scrollHeader__container__links {
        width: 550px;
    }

    .aboutCompany__container__content__featuresOfWork__content__part1 {
        display: block;
    }

    .aboutCompany__container__content__featuresOfWork__content__part1 p {
        margin-left: 0;
    }
}

@media screen and (max-width: 1050px) {
    .banner {
        height: 500px;
    }

    .banner__container__block {
        max-width: 515px;
    }

    .banner__container__block h6 {
        font-size: 36px;
    }

    .banner__container__block p {
        font-size: 16px;
        line-height: 1.379;
    }

    .banner__container__block a {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 26px;
        padding-right: 50px;
    }

    .banner__container__block a::after {
        right: 20px;
    }

    .banner__container__block__background2 {
        width: 527px;
        height: 286px;
        top: 72px;
    }
}

@media screen and (max-width: 1035px) {
    .gallary__container__pictures {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallary__container__pictures a {
        height: 180px;
    }
}

@media screen and (max-width: 1025px) {
    .info__container__content__image img {
        width: 502px;
        height: 296px;
    }
}

@media screen and (max-width: 1015px) {
    .productInfo__container__slider {
        max-width: 453px;
    }

    .productInfo__container__slider__top__container__block img {
        height: 294px;
    }

    .productInfo__container__slider__thumbs__container .swiper-slide-thumb-active::after {
        width: 130px;
    }

    .productInfo__container__characteristics {
        max-width: 453px;
    }

    .productInfo__container__characteristics__links a:first-of-type {
        padding-left: 40px;
    }

    .productInfo__container__characteristics__links a:first-of-type::after {
        left: 65%;
    }
}

@media screen and (max-width: 1000px) {
    .catalogForCatalog__container__content {
        grid-column-gap: 20px;
    }
}

@media screen and (max-width: 985px) {
    .contact__conteiner__part3__part2 {
        max-width: 520px;
    }

    .contact__conteiner__part3__part2__container__form__container__textarea {
        max-width: 257px;
    }
}

@media screen and (max-width: 980px) {
    .header__part1__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .scrollHeader__container {
        align-items: center;
    }

    .scrollHeader__container__links {
        width: 400px;
    }

    .scrollHeader__container__links > ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__container__part2  {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 969px) {
    .seeAlso__container__slider__body__block__container__links a:first-of-type {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 965px) {
    .firstSlider__container__content {
        height: 350px;
    }

    .firstSlider__container__content__block__container__background2 {
        width: 460px;
        height: 186px;
    }

    .firstSlider__container__content__block__container__block {
        max-width: 485px;
    }

    .firstSlider__container__content__block__container__block h6 {
        font-size: 35px;
    }

    .firstSlider__container__content__block__container__block p {
        font-size: 16px;
        line-height: 1.279;
    }

    .firstSlider__container__content__block__container__block a {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 26px;
        padding-right: 50px
    }

    .firstSlider__container__content__block__container__block a::after {
        right: 20px;
    }
}

@media screen and (max-width: 950px) {
    .catalogForCatalog__container__content__block__container {
        padding: 20px;
    }
}

@media screen and (max-width: 915px) {
    .productInfo__container__slider {
        max-width: 407px;
    }

    .productInfo__container__slider__top__container__block img {
        height: 264px;
    }

    .productInfo__container__slider__thumbs__container .swiper-slide-thumb-active::after {
        width: 115px;
    }

    .productInfo__container__characteristics {
        max-width: 407px;
    }

    .productInfo__container__characteristics__price__container .oldPrice {
        font-size: 16px;
    }

    .productInfo__container__characteristics__price__container .oldPrice::before {
        left: -3%;
        top: 46%;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .productInfo__container__characteristics__price__container {
        max-width: 339px;
    }

    .productInfo__container__characteristics__price__container .newPrice {
        font-size: 26px;
    }
}

@media screen and (max-width: 890px) {
    .header__part2__container__burger {
        display: block;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .header__part2__container__burger i {
        color: #fff;
        font-size: 36px;
    }

    .header__part2__container > ul {
        flex-direction: column;
        display: none;
    }

    .header__part2__container > .header__part2__container_js {
        display: flex;
    }

    .header__part2__container__search {
        left: 50%;
        top: -13px;
        transform: translateX(-50%);
    }
    
    .catalog__container__content {
        grid-template-columns: repeat(1, 1fr);
    }

    .info__container__content {
        display: block;
        text-align: center;
    }

    .info__container__content__image {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 860px) {
    .banner {
        height: 405px;
    }

    .banner__container__block {
        margin: 0 auto;
    }

    .banner__container__block__background2 {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .gallary__container__pictures a {
        height: 170px;
    }
}

@media screen and (max-width: 835px) {
    .seeAlso__container__slider__body__block__container h6 {
        font-size: 24px;
    }

    .seeAlso__container__slider__body__block__container__characteristics__block p {
        font-size: 16px;
    }

    .map {
        height: 350px;
    }
}

@media screen and (max-width: 825px) {
    .contact__container {
        flex-direction: column;
    }

    .contact__conteiner__part1 {
        width: 100%;
    }

    .contact__conteiner__part2 {
        width: 100%;
    }

    .contact__conteiner__part3 {
        flex-direction: column;
        align-items: center;
    }

    .contact__conteiner__part3__part2 {
        margin-top: 170px;
    }
}

@media screen and (max-width: 821px) {
    .scrollHeader__container {
        align-items: unset;
        padding-bottom: 6px;
    }

    .scrollHeader__container__links {
        width: 300px;
    }

    .scrollHeader__container__links__burger {
        display: block;
        text-align: center;
        padding-top: 5px;
    }

    .scrollHeader__container__links__burger_js {
        padding-bottom: 20px;
    }

    .scrollHeader__container__links__burger i {
        font-size: 36px;
        color: #fff;
    }

    .scrollHeader__container__links > ul {
        display: none;
    }

    .scrollHeader__container__links > .scrollHeader__container__links_js {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 820px) {
    .productInfo__container {
        flex-direction: column;
    }

    .productInfo__container__slider {
        max-width: 770px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .productInfo__container__slider__top__container__block img {
        height: 500px;
    }

    .productInfo__container__slider__thumbs__container .swiper-slide-thumb-active::after {
        width: 130px;
    }

    .productInfo__container__characteristics {
        max-width: 770px;
        margin: 0 auto;
    }

    .productInfo__container__characteristics__links a:first-of-type {
        padding-left: 120px;
    }

    .productInfo__container__characteristics__links a:first-of-type::after {
        left: 59%;
    }
}

@media screen and (max-width: 800px) {
    .catalogForCatalog__container__content__block__container h6 {
        font-size: 24px;
    }

    .catalogForCatalog__container__content__block__container__characteristics__block p {
        font-size: 16px;
    }
}

@media screen and (max-width: 790px) {
    .firstSlider__container__content__block__container__background2 {
        display: none;
    }

    .firstSlider__container__content__block__container__block {
        margin: 0 auto;
    }

    .order__container__block {
        padding-left: 0;
    }

    .order__container__block__container {
        margin: 0 auto;
    }
}

@media screen and (max-width: 780px) {
    .productInfo__container__slider {
        max-width: 693px;
    }

    .productInfo__container__slider__top__container__block img {
        height: 450px;
    }

    .productInfo__container__slider__thumbs__container .swiper-slide-thumb-active::after {
        width: 115px;
    }

    .productInfo__container__characteristics {
        max-width: 693px;
    }

    .productInfo__container__characteristics__links a:first-of-type {
        padding-left: 100px;
    }
}

@media screen and (max-width: 770px) {
    .form__container {
        width: 600px;
    }

    .gallary__container__pictures a {
        height: 160px;
    }
}

@media screen and (max-width: 727px) {
    .header__part1__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .scrollHeader__container__links {
        width: 250px;
    }

    .footer__container__part1 ul {
        flex-wrap: wrap;
    }
    
    .footer__container__part2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .catalogForCatalog__container__content {  
        grid-template-columns: repeat(1, 1fr);
    }

    .productInfo__container__slider {
        max-width: 623px;
    }

    .productInfo__container__slider__top__container__block img {
        height: 405px;
    }

    .productInfo__container__slider__thumbs__container .swiper-slide-thumb-active::after {
        width: 130px;
    }

    .productInfo__container__characteristics {
        max-width: 623px;
    }

    .productInfo__container__characteristics__links a:first-of-type {
        padding-left: 80px;
    }

    .gallary__container__pictures a {
        height: 150px;
    }
}

@media screen and (max-width: 680px) {
    .seeAlso__container__slider__header {
        flex-direction: column;
    }

    .seeAlso__container__slider__header__headline {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 671px) {
    .scrollHeader__container__links {
        width: 200px;
    }
}

@media screen and (max-width: 650px) {
    .gallary__container__pictures a {
        height: 140px;
    }
}

@media screen and (max-width: 623px) {
    .productInfo__container__slider {
        max-width: 560px;
    }

    .productInfo__container__slider__top__container__block img {
        height: 364px;
    }

    .productInfo__container__slider__thumbs__container .swiper-slide-thumb-active::after {
        width: 115px;
    }

    .productInfo__container__characteristics {
        max-width: 560px;
    }

    .productInfo__container__characteristics__links a:first-of-type {
        padding-left: 60px;
    }
}

@media screen and (max-width: 621px) {
    .scrollHeader__container__links__burger {
        text-align: right;
    }

    .scrollHeader__container__links > .scrollHeader__container__links_js {
        align-items: flex-end;
    }

    .scrollHeader__container__links > ul > li {
        padding-right: 17px;
    }

    .scrollHeader__container__call {
        display: none;
    }
}

@media screen and (max-width: 610px) {
    .equipment__container__info__img img {
        width: 488px;
        height: 299px;
    }
    
    .form__container {
        width: 530px;
    }

    .form__container__content {
        width: 420px;
    }

    .form__container__content h6 {
        font-size: 40px;
    }

    .form__container__content form div {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10px;
    }
}

@media screen and (max-width: 603px) {
    .order {
        padding-bottom: 250px;
    }

    .order__container::after {
        width: 482px;
        height: 255px;
    }

    .order_catalog .order__container::after {
        width: 482px;
        height: 255px;
    }
}

@media screen and (max-width: 600px) {
    .gallary__container__pictures {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallary__container__pictures a {
        height: 160px;
    }
}

@media screen and (max-width: 560px) {
    .productInfo__container__slider {
        max-width: 504px;
    }

    .productInfo__container__slider__top__container__block img {
        height: 327px;
    }

    .productInfo__container__slider__thumbs__container .swiper-slide-thumb-active::after {
        width: 145px;
    }

    .productInfo__container__characteristics {
        max-width: 504px;
    }

    .productInfo__container__characteristics__links a:first-of-type {
        padding-left: 50px;
    }

    .productInfo__container__characteristics__links a:first-of-type::after {
        left: 62%;
    }
}

@media screen and (max-width: 550px) {
    .catalogForCatalog__container__headline h6 {
        font-size: 40px;
    }

    .aboutCompany__container__content__featuresOfWork__content__part1 img {
        width: 494px;
        height: 295px;
    }
}

@media screen and (max-width: 540px) {
    .form__container {
        width: 430px;
    }

    .form__container__content {
        width: 330px;
    }

    .form__container__content h6 {
        font-size: 30px;
        margin-bottom: 7px;
    }

    .form__container__content p {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .form__container__content form {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 530px) {
    .contact__conteiner__part2 {
        padding-top: 630px;
    }
    
    .contact__conteiner__part3__part2__container__form__container {
        flex-direction: column;
    }

    .contact__conteiner__part3__part2__container__form__container__smallInput {
        margin-bottom: 15px;
    }

    .contact__conteiner__part3__part2__container__form__container__smallInput div input {
        width: 100%;
    }

    .contact__conteiner__part3__part2__container__form__container__textarea {
        width: 100%;
        max-width: 100%;
    }

    .contact__conteiner__part3__part2__container__form__container__textarea div textarea {
        width: 100%;
        height: 120px;
    }
}

@media screen and (max-width: 520px) {
    .banner__container__block {
        max-width: 420px;
        padding: 20px;
    }

    .banner__container__block p br {
        display: none;
    }

    .order__container::after {
        top: 600px;
    }

    .order_catalog .order__container::after {
        top: 600px;
    }

    .order__container__block__container {
        max-width: 455px;
    }

    .order__container__block__container form {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 504px) {
    .productInfo__container__slider {
        max-width: 453px;
    }

    .productInfo__container__slider__top__container__block img {
        height: 327px;
    }

    .productInfo__container__slider__thumbs__container .swiper-slide-thumb-active::after {
        width: 130px;
    }

    .productInfo__container__characteristics {
        max-width: 453px;
    }

    .productInfo__container__characteristics__links a:first-of-type {
        padding-left: 40px;
    }
}

@media screen and (max-width: 502px) {
    .info__container__content__image img {
        width: 401px;
        height: 236px;
    }
}

@media screen and (max-width: 500px) {
    .breadcrumb__container {
        text-align: center;
    }

    .breadcrumb__container ul {
        display: block;
    }

    .breadcrumb__container ul li::after {
        content: "";
    }

    .aboutCompany__container__content__featuresOfWork__content__part1 img {
        width: 444px;
        height: 265px;
    }
}

@media screen and (max-width: 490px) {
    .firstSlider__container__content {
        height: 365px;
    }

    .firstSlider__container__content__block__container__block {
        max-width: 388px;
    }

    .firstSlider__container__content__block__container__block p br {
        display: none;
    }

    .order {
        padding-bottom: 200px;
    }

    .order__container::after {
        width: 385px;
        height: 204px;
    }
    
    .order_catalog .order__container::after {
        width: 385px;
        height: 204px;
    }

    .order__container__block__container {
        max-width: 410px;
    }

    .order__container__block__container h6 {
        font-size: 45px;
    }

    .order__container__block__container p:first-of-type {
        font-size: 17px;
    }

    .order__container__block__container p:last-of-type {
        font-size: 14px;
    }
}

@media screen and (max-width: 488px) {
    .equipment__container__info__img img {
        width: 390px;
        height: 239px;
    }
}

@media screen and (max-width: 460px) {
    .header__part1__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header__part1__container__phone {
        text-align: left;
    }

    .catalog__container__content__block {
        height: 350px;
    }

    .footer__container__part2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer__container__part2__phone {
        text-align: left;
    }

    .footer__container__part3 {
        text-align: center;
    }

    .contact__conteiner__part3__part2__headline h6 {
        font-size: 35px;
    }

    .contact__conteiner__part3__part2__headline p {
        font-size: 16px;
    }
}

@media screen and (max-width: 453px) {
    .productInfo__container__slider {
        max-width: 407px;
    }

    .productInfo__container__slider__top__container__block img {
        height: 294px;
    }

    .productInfo__container__characteristics {
        max-width: 407px;
    }

    .productInfo__container__slider__thumbs__container .swiper-slide-thumb-active::after {
        width: 115px;
    }

    .productInfo__container__characteristics__links a:first-of-type {
        padding-left: 30px;
    }

    .productInfo__container__characteristics__links a:first-of-type::after {
        left: 67%;
    }
}

@media screen and (max-width: 450px) {
    .catalog__container__headline h6 {
        font-size: 45px;
    }

    .aboutCompany__container__content__featuresOfWork__content__part1 img {
        width: 399px;
        height: 238px;
    }

    .quote__content {
        padding-left: 15px;
    }

    .quote__content p {
        font-size: 16px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 435px) {
    .catalog__container__content__block a {
        max-width: 393px;
    }

    .catalog__container__content__block a div:first-of-type {
        width: 325px;
    }

    .form__container {
        width: 370px;
        height: 400px;
        padding-top: 40px;
    }

    .form__container__content {
        width: 285px;
    }

    .form__container__content button {
        right: 10px;
        top: 10px;
    }

    .form__container__content h6 {
        font-size: 25px;
    }
}

@media screen and (max-width: 430px) {
    .banner__container__block {
        max-width: 353px;
    }

    .banner__container__block h6 {
        font-size: 30px;
    }

    .catalogForCatalog__container__headline {
        margin-bottom: 40px;
    }

    .catalogForCatalog__container__headline h6 {
        font-size: 30px;
    }

    .gallary__container__pictures a {
        height: 140px;
    }
}

@media screen and (max-width: 410px) {
    .order {
        padding-bottom: 150px;
    }

    .order__container::after {
        width: 308px;
        height: 163px;
        top: 520px;
    }

    .order_catalog .order__container::after {
        width: 308px;
        height: 163px;
        top: 520px;
    }

    .order__container__block {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .order__container__block__container {
        max-width: 320px;
    }

    .order__container__block__container h6 {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .order__container__block__container p:first-of-type {
        font-size: 16px;
    }
}

@media screen and (max-width: 407px) {
    .productInfo__container__slider {
        max-width: 320px;
    }

    .productInfo__container__slider__top__container__block img {
        height: 220px;
    }

    .productInfo__container__slider__thumbs__container .swiper-slide-thumb-active::after {
        width: 145px;
    }

    .productInfo__container__characteristics {
        max-width: 320px;
    }

    .productInfo__container__characteristics__headline h6 {
        font-size: 22px;
    }

    .productInfo__container__characteristics__price__container {
        max-width: 279px;
    }

    .productInfo__container__characteristics__price__container .oldPrice {
        font-size: 14px;
    }

    .productInfo__container__characteristics__price__container .newPrice {
        font-size: 20px;
    }

    .productInfo__container__characteristics__links a {
        font-size: 14px;
    }

    .productInfo__container__characteristics__links a:first-of-type {
        padding-left: 15px;
    }
}

@media screen and (max-width: 404px) {
    .aboutCompany__container__content__featuresOfWork__headline h6 {
        font-size: 35px;
    }

    .aboutCompany__container__content__featuresOfWork__content__part1 img {
        width: 359px;
        height: 214px;
    }

    .gallary__container__pictures a {
        height: 125px;
    }
}

@media screen and (max-width: 401px) {
    .firstSlider__container__content__block__container__block {
        padding: 10px;
        max-width: 315px;
    }

    .catalog__container__headline h6 {
        font-size: 40px;
    }

    .catalog__container__content__block a {
        max-width: 360px;
    }

    .catalog__container__content__block a div:first-of-type {
        width: 290px;
    }

    .catalog__container__content__block a div h6 {
        font-size: 20px;
    }

    .info__container__content__image img {
        width: 320px;
        height: 188px;
    }
}

@media screen and (max-width: 390px) {
    .equipment__container__info__img img {
        width: 312px;
        height: 191px;
    }
}

@media screen and (max-width: 376px) {
    .scrollHeader__container {
        padding-bottom: 7px;
    }

    .scrollHeader__container__logo {
        height: 48px;
    }

    .scrollHeader__container__logo a img {
        width: 171px;
    }

    .scrollHeader__container__links {
        width: 160px;
    }

    .scrollHeader__container__links > ul > li > a {
        font-size: 16px;
    }
}

@media screen and (max-width: 375px) {
    .form__container {
        width: 300px;
        height: 365px;
        padding-top: 25px;
    }

    .form__container__content {
        width: 240px;
    }

    .form__container__content button img {
        width: 13px;
        height: 13px;
    }

    .form__container__content h6 {
        font-size: 20px;
    }

    .form__container__content p {
        font-size: 14px;
    }

    .form__container__content p:last-of-type {
        font-size: 14px;
    }
}

@media screen and (max-width: 365px) {
    .banner__container__block {
        max-width: 320px;
    }

    .banner__container__block h6 {
        font-size: 25px;
    }

    .catalog__container__content__block {
        height: 300px;
    }

    .catalog__container__content__block a {
        max-width: 321px;
    }

    .catalog__container__content__block a div:first-of-type {
        width: 250px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .catalogForCatalog__container__pagination {
        max-width: 319px;
    }

    .catalogForCatalog__container__pagination__btnLeft button img {
        width: 90px;
        height: 27px;
    }

    .catalogForCatalog__container__pagination__btnRight button img {
        width: 90px;
        height: 27px;
    }

    .catalogForCatalog__container__pagination__numbers ul li a {
        font-size: 20px;
    }

    .catalogForCatalog__container__pagination__numbers ul li::after {
        font-size: 20px;
    }

    .aboutCompany__container__content__featuresOfWork__headline h6 {
        font-size: 30px;
    }

    .aboutCompany__container__content__featuresOfWork__content__part1 img {
        width: 323px;
        height: 192px;
    }

    .gallary__container__pictures {
        grid-template-columns: repeat(1, 1fr);
    }

    .gallary__container__pictures a {
        height: 200px;
    }

    .gallary__container__navigation {
        max-width: 319px;
    }

    .gallary__container__navigation__btnLeft button img {
        width: 90px;
        height: 27px;
    }

    .gallary__container__navigation__numbers ul li::after {
        font-size: 20px;
    }

    .gallary__container__navigation__numbers ul li a {
        font-size: 20px;
    }

    .gallary__container__navigation__btnRight button img {
        width: 90px;
        height: 27px;
    }
}

@media screen and (max-width: 360px) {
    .seeAlso__container__slider__header__headline h6 {
        font-size: 32px;
    }
}

@media screen and (max-width: 350px) {
    .catalog__container__headline h6 {
        font-size: 35px;
    }

    .seeAlso__container__slider__body__block__container__characteristics__block p {
        font-size: 15px;
    }

    .catalogForCatalog__container__content__block__container__characteristics__block p {
        font-size: 15px;
    }
}

@media screen and (max-width: 340px) {
    .aboutCompany__container__headline h6 {
        font-size: 40px;
    }

    .aboutCompany__container__content > p {
        font-size: 16px;
    }
}

@media screen and (max-width: 335px) {
    .scrollHeader__container {
        padding-bottom: 2px;
    }

    .scrollHeader__container__logo {
        height: 43px;
    }

    .scrollHeader__container__logo a img {
        width: 153px;
    }

    .seeAlso__container__slider__body__block__container__characteristics__block p {
        font-size: 14px;
        margin-bottom: -7px;
    }

    .catalogForCatalog__container__content__block__container__characteristics__block p {
        font-size: 14px;
        margin-bottom: -7px;
    }
}

@media screen and (max-width: 330px) {
    .order__container__block__container {
        max-width: 310px;
    }

    .order__container__block__container h6 {
        font-size: 34px;
    }

    .aboutCompany__container__content__featuresOfWork__content__part1 img {
        width: 306px;
        height: 182px;
    }
}

/* mobile stop */